@model WalletReport.Models.LocalPasswordModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}


@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
   
     <div class="login-container">
          @Html.ValidationSummary(true)
        <div class="login-header blue">
            <h4>Change password!!!</h4>
        </div>
        <form>
            <div class="login-field">
                <label for="OldPassword">Old Password</label>
                @Html.PasswordFor(c=>c.OldPassword,new { @placeholder = "OldUsername" })
               @* <input type="text" name="username" id="username" placeholder="Username">*@
                <i class="icon-user"></i>
            </div>
            <div class="login-field">
                <label for="NewPassword">New Password</label>
                @Html.PasswordFor(model=>model.NewPassword,new { @placeholder = "NewPassword" })
                @*<input type="password" name="password" id="password" placeholder="Password">*@
                <i class="icon-lock"></i>
            </div>
             <div class="login-field">
                <label for="password">Confirm Password</label>
                @Html.PasswordFor(model=>model.ConfirmPassword,new { @placeholder = "ConfirmPassword" })
                @*<input type="password" name="password" id="password" placeholder="Password">*@
                <i class="icon-lock"></i>
            </div>
            <div class="login-button">
                <button type="submit" class="btn btn-large btn-block blue">Change password <i class="icon-arrow-right"></i></button>
            </div>
        </form>
    </div>
}
@section scripts
{
       <script>
        jQuery(document).ready(function ($) {
            $('.uniform').uniform();
        });
    </script>
}
