@model WalletReport.Models.ClientBankInformation

@{
    ViewBag.Title = "Dealer Creation";
}

@using (Html.BeginForm("SaveChanges", "ClientMerchant", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="content">
        <!-- Content start -->
        <div class="top_bar">
            <ul class="breadcrumb">
                <li><a href="dashboard.html"><i class="icon-home"></i></a> <span class="divider">/</span></li>
                <li class="active"><a href="#">Merchant Client Key</a></li>
            </ul>
        </div>
        @Html.HiddenFor(m => m.Id)
        <div class="inner_content">

            <div class="widgets_area">

                <div class="row-fluid">
                    <div class="span12">
                        <div class="well black">
                            <div class="well-header">
                                @if (Model.Id > 0)
                                {


                                    <h5>Modify Merchant Client Key</h5>
                                }
                                else
                                {
                                    <h5>Create Merchant Client Key</h5>
                                }

                            </div>
                            <div class="well-content no_padding no-search">

                                <div id="rootwizard4">
                                    <div class="wizard_navigation">
                                        <ul>
                                            <li>
                                                <a href="#tab11" data-toggle="tab">
                                                    <span>
                                                        <i class="icon-user"></i>
                                                        <strong>1</strong>
                                                    </span> Client information
                                                </a>
                                            </li>
                                          
                                            <li>
                                                <a href="#tab12" data-toggle="tab">
                                                    <span>
                                                        <i class="icon-grid"></i>
                                                        <strong>2</strong>
                                                    </span> Confirmation
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="wizard_bar">
                                        <div class="progress progress-danger progress-striped">
                                            <div class="bar"></div>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane no_padding" id="tab11">
                                            <div class="form_row">
                                                <label class="field_name align_right">Client Name</label>
                                                <div class="field">
                                                    @Html.TextBoxFor(c => c.Name, new Dictionary<String, Object>() { { "class", "span6 required" } })
                                                </div>
                                            </div>
                                            @*<div class="form_row">
                                                    <label class="field_name align_right">Account Number</label>
                                                    <div class="field">
                                                        @Html.TextBoxFor(c => c.SettleAccountNumber, new Dictionary<String, Object>() { { "class", "span6 required" } })
                                                    </div>
                                                </div>*@
                                            <div class="form_row">
                                                <label class="field_name align_right">Client ID</label>
                                                <div class="field">
                                                    @Html.TextBoxFor(c => c.ClientId, new Dictionary<String, Object>() { { "class", "span6 required" } })
                                                </div>
                                            </div>
                                            <div class="form_row">
                                                <label class="field_name align_right">Client Secret</label>
                                                <div class="field">
                                                    @Html.TextBoxFor(c => c.SecretKey, new Dictionary<String, Object>() { { "class", "span6 required" } })
                                                </div>
                                            </div>
                                         
                                        </div>
                                   
                                        <div class="tab-pane no_padding" id="tab12">
                                            @*<div class="form_row">
                                                    <label class="field_name align_right">Account Number</label>
                                                    <div class="field">
                                                        <span id="spAccountNumber" class="help-inline"></span>
                                                    </div>
                                                </div>*@
                                            <div class="form_row">
                                                <label class="field_name align_right">Name</label>
                                                <div class="field">
                                                    <span id="spName" class="help-inline"></span>
                                                </div>
                                            </div>
                                            <div class="form_row">
                                                <label class="field_name align_right">Client Id</label>
                                                <div class="field">
                                                    <span id="spClientId" class="help-inline"></span>
                                                </div>
                                            </div>
                                            <div class="form_row">
                                                <label class="field_name align_right">Client Secret</label>
                                                <div class="field">
                                                    <span id="spClientSecret" class="help-inline"></span>
                                                </div>
                                            </div>
                                         
                                        </div>

                                        <div class="form_row wizard_buttons">
                                            <div class="field">
                                                <a href="@Url.Content("~/ClientMerchantInfo/SaveChanges")" class="btn">Cancel</a>
                                                <span class="btn red previous-button">Previous</span>
                                                <span id="nextClick" class="btn light_blue next-button">Next</span>
                                                <input type="submit" class="btn dark_green submit-button" value="Save" />
                                                @* <span class="btn dark_green submit-button">Submit</span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function () {

            jQuery("#nextClick").click(function () {
                //
                //jQuery("#spAccountNumber").text(jQuery("#SettleAccountNumber").val());
                jQuery("#spName").text(jQuery("#Name").val());
                jQuery("#spClientId").text(jQuery("#ClientId").val());
                jQuery("#spClientSecret").text(jQuery("#SecretKey").val());
               

            });

        });
    </script>
    @Scripts.Render("~/Scripts/library/jquery.bootstrap.wizard.js")
    @Scripts.Render("~/Scripts/library/jquery.validate.js")
    @Scripts.Render("~/Scripts/flatpoint_core.js")
    @Scripts.Render("~/Scripts/forms_layout.js")
    @Scripts.Render("~/Scripts/forms_wizard.js")
}